html,
body{
	height: 100%;
	width: 320px;
	margin: 0;
	margin-right: auto;
	font-family: 'TT Lakes Regular';
	height: 100%;
}

.content{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 30px black;
}

/* header */

.menu{
	display: flex;
	height: 88px;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	margin-bottom: 35px;
}

.menu__left{
	display: flex;
	align-items: center;	
}

.menu__icon__l{
	margin-left: 16px;
}

.menu__icon__r{
	margin-right: 16px;
}


/* nav */

.nav{
	flex: 1 1 auto;
}

.nav__link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #1B1C21;
}

.nav__link:hover{
	color: #7E7E82;
	cursor: pointer;
}

.nav__link:focus{
	color: #7E7E82;
	cursor: pointer;
}

.link__hl{
	opacity: 0;
	margin-right: 20px;
	transition: 0.3s;
}

.nav__link:hover .link__hl{
	opacity: 1;
}

.nav__link:focus .link__hl{
	opacity: 1;
}


/* footer */

.footer{
  margin-left: 24px;
  margin-bottom: 32px;
}

.info{
	display: flex;
	align-items: center;
}

.info__icon{
	margin-right: 16px;
	margin-bottom: 16px;
}


.contact__mail{
	margin-bottom: 16px;
}

.contact__mail{
	text-decoration: none;
	color: #1B1C21;
}

.contact__number{
	text-decoration: none;
	color: #1B1C21;
	font-size: 24px;
	font-family: 'TT Lakes Bold';
}

.lang__link{
	text-decoration: none;
	text-transform: uppercase;
	color: #1B1C21;
	margin-right: 7px;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/TTLakes-Regular.woff') format('woff'),
    url('font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'TT Lakes Bold';
    src: url('TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }